<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui/jquery-ui.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/jquery.dataTables.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/AdminLTE.min.css')}}">
 <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/skins/_all-skins.min.css')}}">

<style type="text/css">
  #konten{
    margin-top: 20px;
    background-color: white;
    padding-bottom: 40px;
    padding-top: 40px;
  }
</style>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>SI</b>P</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SIPAD</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          
          <!-- Notifications: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ url_for('static',filename='dist/img/noavatarn.png')}}" class="user-image" alt="User Image">
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{ url_for('static',filename='dist/img/noavatarn.png')}}" class="img-circle" alt="User Image">

                <p>
                  Admin
                  <small>Member since Nov. 2017</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ url_for('static',filename='dist/img/noavatarn.png')}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview active">
          <a href="data_anggota">
            <i class="fa fa-user"></i>
            <span>Data Anggota</span>
          </a>
        </li>
        <li class="treeview">
          <a href="data_admin">
            <i class="fa fa-user"></i>
            <span>Data Admin</span>
          </a>

        </li>
        <li class="treeview">
          <a href="data_buku">
            <i class="fa fa-book"></i>
            <span>Data Buku</span>
          </a>
        </li>
        <li class="treeview">
          <a href="pinjam">
            <i class="fa fa-laptop"></i>
            <span>Data Pinjam Buku</span>
          </a>
        </li>
                <li class="treeview">
          <a href="tentang">
            <i class="fa fa-laptop"></i>
            <span>Tentang Website</span>
          </a>
        </li>


    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Data Karyawan
          </h1>
        </section>
<section class="content">
<button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Tambah Data +</button>
<div id="konten" class="col-md-12"> 
	<table class="table table-strip table-bordered" id="example1">
  <thead>
		<tr>
			<th>NIK</th>
			<th>Nama</th>
			<th>Jenis Kelamin</th>
			<th>Kelas</th>
			<th>Tempat Lahir</th>
			<th>Alamat</th>
			<th>Aksi</th>
		</tr>
  </thead>
  <tbody>
		{% for d in data %}
		<tr>
			<td>{{ d.0 }}</td>
			<td><a href="{{ url_for('anggota',id=d.0) }}">{{ d.1 }}</a></td>
			<td>{{ d.2 }}</td>
			<td>{{ d.3 }}</td>
			<td>{{ d.4 }} , {{ d.5 }}</td>
			<td>{{ d.6 }}</td>
			<td><a href="" data-toggle="modal" data-target="#myModal{{ d.0 }}" class="btn btn-warning">Edit</a> <a href="{{ url_for('delete',table='anggota',vid=d.0) }}" class="btn btn-danger">Hapus</a></td>
		</tr>
    <div class="modal fade" id="myModal{{ d.0 }}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tambah Buku</h4>
        </div>
        <div class="modal-body">
        <form method="POST" action="edit_anggota">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nik:</label>
            <input type="text" class="form-control" id="recipient-name" name="nik" value="{{ d.0 }}" readonly>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nama:</label>
            <input type="text" class="form-control" id="recipient-name" name="nama" value="{{ d.1 }}">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Jenis Kelamin:</label>
            <select class="form-control" id="sel1" name="jeniskelamin">
            {% if d.2 == "Laki-Laki" %}
              <option value="Laki-Laki" selected>Laki-Laki</option>
              <option value="Perempuan">Perempuan</option>
            {% else %}
              <option value="Laki-Laki">Laki-Laki</option>
              <option value="Perempuan" selected>Perempuan</option>
            {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Kelas:</label>
            <input type="text" class="form-control" id="recipient-name" name="kelas" value="{{ d.3 }}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Tempat Lahir:</label>
            <input type="text" class="form-control" id="recipient-name" name="tempat" value="{{ d.4 }}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Tanggal Lahir:</label>
            <input type="text" class="form-control" id="recipient-name" name="tanggal" value="{{ d.5 }}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Alamat:</label>
            <input type="text" class="form-control" id="recipient-name" name="alamat" value="{{ d.6 }}">
          </div>
        
        <div class="modal-footer">
          <input type="submit" class="btn btn-default">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
		{% endfor %}
  </tbody>
	</table>
  </div>
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tambah Buku</h4>
        </div>
        <div class="modal-body">
        <form method="POST">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nik:</label>
            <input type="text" class="form-control" id="recipient-name" name="nik">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Nama:</label>
            <input type="text" class="form-control" id="recipient-name" name="nama">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Jenis Kelamin:</label>
            <select class="form-control" id="sel1" name="jeniskelamin">
              <option value="Laki-Laki">Laki-Laki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Kelas:</label>
            <input type="text" class="form-control" id="recipient-name" name="kelas">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Tempat Lahir:</label>
            <input type="text" class="form-control" id="recipient-name" name="tempat">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Tanggal Lahir:</label>
            <input type="text" class="form-control" id="recipient-name" name="tanggal">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Alamat:</label>
            <input type="text" class="form-control" id="recipient-name" name="alamat">
          </div>
        
        <div class="modal-footer">
          <input type="submit" class="btn btn-default">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
  </div>
  </section>
</div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

</html>
<script src="{{ url_for('static', filename='js/jquery1.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/app.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
<script src="{{ url_for('static',filename='datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{ url_for('static',filename='datatables/jquery.dataTables.js')}}"></script>
<script src="{{ url_for('static', filename='jquery-ui/jquery-ui.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#example1').DataTable({
      "bLengthChange": false
    });
  });
</script>